<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="CRM test Suite">
            <directory suffix="Test.php">./src/CRM/Tests</directory>
        </testsuite>
        <testsuite name="PIM test Suite">
            <directory suffix="Test.php">./src/PIM/Tests</directory>
        </testsuite>
        <testsuite name="Shop test Suite">
            <directory suffix="Test.php">./src/Shop/Tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
